<div class="row">
  <div class="col-xs-12">
    <h1>Dashboard</h1>
    <div style="width: 30%;padding: 20px;border: 1px solid red;">
      <%= @data.users_count %>
    </div>
    <div style="width: 30%;padding: 20px;border: 1px solid red;">
      <%= @data.categories_count %>
    </div>
 </div>
</div>
