<%= link_to "Nouveau post", new_admin_post_path, class: 'btn btn-primary' %>
<br />
<br />
<table class="table table-thin table-striped">
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, edit_admin_post_path(post.id) %></td>
      <td style="width: 30px;"><%= link_to 'x', admin_post_path(post.id), method: 'delete', 'data-confirm': "Are you sure?!" %>
    </tr>
  <% end %>
</table>
